<div class="container">
  <div class="patient row">
    <div class="col-sm-2 patient-info">

      <div class="patient-contact" ng-click="viewPatient(patient.person.ehrId)">
        <span class="patient-image" ng-attr-data-initials="{{patient.person.initials}}"></span>
        <span class="patient-name" ng-bind="patient.person.name"></span>
      </div> <!-- patient contact info -->

      <div class="patient-measurements">
        <div class="row">
          <span class="measurements-label">Age: </span>
          <span class="measurements-data">
            <span ng-bind="patient.person.age"></span>
            <span class="unit" ng-show="patient.person.age"> years</span>
          </span>
        </div>
        <div class="row">
          <span class="measurements-label">Weight: </span>
          <span class="measurements-data">
            <span ng-bind="patient.measurements.weight.value"></span>
            <span class="unit" ng-bind="patient.measurements.weight.unit"></span>
          </span>
        </div>
        <div class="row">
          <span class="measurements-label">Height: </span>
            <span class="measurements-data">
              <span ng-bind="patient.measurements.height.value"></span>
              <span class="unit" ng-bind="patient.measurements.height.unit"></span>
            </span>
          </span>
        </div>
        <div class="row">
          <span class="measurements-label">Temperature: </span>
            <span class="measurements-data">
              <span ng-bind="patient.measurements.temperature.value"></span>
              <span class="unit" ng-bind="patient.measurements.temperature.unit"></span>
            </span>
          </span>
        </div>
        <div class="row">
          <span class="measurements-label">Pulse: </span>
            <span class="measurements-data">
              <span ng-bind="patient.measurements.pulse.value"></span>
              <span class="unit" ng-bind="patient.measurements.pulse.unit"></span>
            </span>
          </span>
        </div>
      </div> <!-- patient measurements -->

    </div> <!-- patient-info -->

    <div class="col-sm-9 measurements-graph"></div>

    <div class="col-sm-1 graph-controls">

      <div class="btn-group-vertical" data-toggle="buttons">
        <label class="btn btn-default active" ng-click="graphOptionChange('weight')">
          <input type="radio" ng-model="graphOption" value="weight" autocomplete="off" checked> Weight
        </label>
        <label class="btn btn-default" ng-click="graphOptionChange('height')">
          <input type="radio" ng-model="graphOption" value="height" autocomplete="off"> Height
        </label>
        <label class="btn btn-default" ng-click="graphOptionChange('bmi')">
          <input type="radio" ng-model="graphOption" value="bmi" autocomplete="off"> BMI
        </label>
        <label class="btn btn-default" ng-click="graphOptionChange('heartRate')">
          <input type="radio" ng-model="graphOption" value="heartRate" autocomplete="off"> Heart Rate
        </label>
        <label class="btn btn-default" ng-click="graphOptionChange('bp')">
          <input type="radio" ng-model="graphOption" value="bp" autocomplete="off"> Bl. Pressure
        </label>
      </div> <!-- btn-group -->

    </div> <!-- graph controls -->

  </div> <!-- patient -->
</div> <!-- patients container -->
